<!-- <h2>Pets Avaiable</h2>
<ul>
    <li ng-repeat="post in petsController.postList"] >
        <div class="post">
            <strong>Name: </strong>{{ post.name }}
            <strong>Category: </strong>{{ post.categoty }}
            <strong>Breed: </strong>{{ post.breed }}
            <strong>Adoption Price: </strong>{{ post.price }}
            <strong>Image: </strong>{{ post.img }}

            <button ng-click= 'petsController.deletePost (post.id)'>Delete Pet</button>
            <button ng-click= 'petsController.editPost (post.id)'>Edit</button>
        </div>
    </li>
</ul>
<form ng-submit="petsController.save ()">
    <strong>Name: </strong>
    <input name="name" ng-model="postController.name"> <br>
    <strong>Category: </strong>
    <input name="category" ng-model="postController.category"> <br>
    <strong>Breed: </strong>
    <input name="breed" ng-model="postController.breed"> <br>
    <strong>Price: </strong>
    <input name="price" ng-model="postController.price"> <br>
    <strong>image: </strong>
    <input name="image" ng-model="postController.image"> <br>
    <button type="submit">Save Post</button>
</form> -->
